.dogButton {
    margin: 3px;
    color: #007BFF;
}

body {  
    margin: 0 auto;
    max-width: 980px;
    background-color: #808080;
    font-family: sans-serif

}

header {
    margin: 50px;
    text-align: center;

}

#bootstrapOverrides #searchSubmit{
    width: 200px;

}

#bootstrapOverrides input {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border-style: solid;
    border-color: #007BFF;
    border-width: 3px;
    height: 300px;
    width: 325px;
}


.gif {
    margin: 50px;
    float: left;
}

h3{
    padding: 5px;
    border-style: solid;
    border-color: #007BFF;
    border-width: 1px;
    background-color: #007BFF;
    color:whitesmoke;
    
}

h1{
    font-size: 75px;
    color: #fac106;
    display: inline-block

}
